@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lexend:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Lexend", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Anton", fantasy;
  
  --color-primary: #a04100;
  --color-primary-container: #ff6b00;
  --color-surface: #faf9f9;
  --color-on-surface: #1b1c1c;
  --color-surface-container: #efeded;
  --color-surface-container-low: #f5f3f3;
  --color-surface-container-high: #e9e8e8;
  --color-surface-container-highest: #e3e2e2;
  --color-secondary: #5f5e5e;
  
  --radius-xl: 1.5rem;
  --radius-lg: 1rem;
}

@layer base {
  body {
    @apply bg-surface text-on-surface font-sans;
  }
}
